.navbar{
    display: flex;
    
    padding: 10px;
    margin-top: 15px;
    position: fixed;
   
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.right{
    display: flex;
    flex-direction: row;
    gap: 40px;
    

}
.link{
    text-decoration: none;
    color: black;
    
}
