.desktop__menu{
    display: flex;
    
    padding: 10px;
    margin-top: 15px;
    position: fixed;
   
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 700;
    z-index: 1;
}

.right{
    display: flex;
    flex-direction: row;
    gap: 40px;
    

}
.link{
    text-decoration: none;
    color: black;
    cursor: pointer;
    
}
.btn{
    border: none;
    padding: 6px 10px 6px 10px;
    background-color: beige;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border-radius: 12px;

}
.mobile__Menu{
    display: none;
}

@media (max-width:980px)  {

.desktop__menu{
    display: none;
}
.mobile__Menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* position: absolute; */
    z-index: 100;
   width: 100vw;
   
}

.mobile__items{
    background-color: rgb(94, 77, 110);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.item{
    border-bottom: 1px solid white;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

}
